<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %> </title>
    <link rel="stylesheet" href="/inputpage.css">

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
</head>
<body>
    
<Section class="input-section">
    <h1>Input-Page</h1>
    
    
    <form action="/student/create" method="POST">
    
    
    
            <div class="inputs">
                <input type="text" name="name" placeholder="Your Name" required>
                <input type="date" name="dateofbirth" placeholder="Your Date of Birth" required>
                
    
              
                
                <select id="countries" name="country" >
                  
                </select>
                
    
                <!-- <input type="text" id ="country-input" class="autocomplete-input"
                placeholder="Search For your Country">
 
                <ul class="autocomplete-list" id="country-list"> -->
 
                
 
                </ul>


                <input type="file" name="resume" placeholder="resume" required>
         
                
                <br><br>
                <button type="submit">Submit Data</button>
        </div>
    
    </form>
    
    
    </Section>

    <a href="/student/listing">Listing Page</a>
    
<script src="/inputpage.js">
    
</script>



</body>
</html>


